body { margin-bottom: 100px; }

a:link { color: #490; }
a:visited { color: #490; }
a:hover { color: #7b0; text-decoration: underline; }

body.list {
    background-color: #FF8005;
    margin: 0;
    padding: 4px;
    margin-bottom: 100px;
}

.list_body {
	color: #444;
    font-size: 10px;
}

.list_body h1 {
    font-size: 16px;
}

.list_body h2 { font-size: 12px; color: #ff0; }
.list_body ul { list-style-type:none; margin:0; padding:0; padding-left:10px; }

.list_body a:link { color: #fff; }
.list_body a:visited { color: #fff; }
.list_body a:hover { color: #fff; text-decoration: underline; }


.doc_body,.doc_refbody,.doc_refclassbody {
	margin: 10px;
	
	color: #444;
}

.toc_body {
	width: 650px;
	margin: 10px auto;
	
	color: #444;
}

.toc_body h1,h2,h3 {
	color:#222;
	padding-top: 5px;
	padding-bottom: 10px;
}

.doc_body h1,h2,h3 {
	color:#222;
	padding-top: 5px;
	padding-bottom: 10px;
}

.doc_refbody h1 {
	color:#222;
	padding-bottom: 20px;
	font-size: 30px;
}

.ref_col3 {
	float: left;
	width: 195px;
	padding-bottom: 20px;
	padding-left: 12px;
}

.ref_col3 ul { list-style-type: none; margin-left: 0; padding-left: 15px; }

.ref_col3 h2 { width: 100%; padding-bottom: 4px; border-bottom: 1px solid #888; }
.ref_col3 h2 { width: 100%; padding-bottom: 4px; }
.ref_col3 h3 { width: 100%; padding-bottom: 4px; }

.ref_info {
    border: 1px solid #aaa;
    padding: 8px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
}

.doc_category {
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 30px;
	border-top: 1px solid #888;
}

.doc_category p {
	padding-left: 20px;
}

.doc_footer {
	clear: both;
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #888;
	text-align: center;
}


.toc_body h2 {
    width: 100%;
    font-size: 22px;
    background-color: #efa;
}

.toc_body .ref_col3 h3 {
	border-bottom: 1px solid #888;
}



.doc_body h1 {
	color:#222;
	padding-bottom: 20px;
	font-size: 30px;
}

.doc_body h2 {
	width: 100%;
	color:#222;
	border-bottom: 1px solid #888;
	padding-bottom: 4px;
	font-size: 24px;
}

.doc_body h3 {
	width: 100%;
	font-size: 18px;
	padding-left: 10px;
	padding-top: 20px;
}

.doc_body p {
	padding-left: 30px;
}

.doc_body p.declare {
	padding-left: 60px;
    font-weight: bold;
    color: #444;
}

.doc_body ul {
	list-style-type: none;
}

.doc_body h5 {
	font-size: 12px;
	margin: 0;
	padding-left: 10px;
	padding-bottom: 2px;
}

.doc_body dl.termdef {
	padding-left: 30px;
}

.doc_body dl.termdef p {
	margin: 0;
	padding: 0;
	padding-left: 30px;
}

.doc_body dl.termdef dt {
    font-weight: bold;
}

.doc_body dl.termdef dd {
    margin-bottom: 18px;
}

.doc_body blockquote.code {
    margin-left: 50px;
    padding-left: 10px;
    border: 1px solid #aaa;
}


